@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0 !important;
    box-shadow: none !important;
}


/* .linear-bg {
    background: linear-gradient(269.82deg, #07091c00 0.17%, #080a1ad6 99.87%);
} */

.linear-bg {
    background:
        /* Top dark (nhẹ hơn) */
        linear-gradient(to bottom, rgba(8, 10, 26, 0.1) 0.1%, transparent 25%),
        /* Bottom dark (nhẹ hơn) */
        linear-gradient(to top, rgba(8, 10, 26, 0.1) 0.1%, transparent 25%),
        /* Left dark (nhẹ hơn) */
        linear-gradient(to right, rgba(8, 10, 26, 0.3) 80%, transparent 100%),
        /* Right dark (nhẹ hơn) */
        linear-gradient(to left, rgba(8, 10, 26, 0.6) 0.1%, transparent 25%);

    background-size: 100% 30%, 100% 30%, 30% 100%, 30% 100%, cover;
    background-position: top, bottom, left, right, center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

/*
==== new - thảo =====
*/
.bg-custom-gradient {
    background: linear-gradient(0deg, rgba(40, 43, 58, 0) 20%, #282b3a);
}

.halftone-effect {
    position: relative;
}

.halftone-effect::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 10%, transparent 70%);
    background-size: 3px 3px;
    mix-blend-mode: multiply;
    pointer-events: none;
}




/*
==== new - thảo =====
*/
.hoveres {
    @apply hidden
}

.hovered:hover .hoveres {
    @apply flex-colo
}

.flex-colo {
    @apply flex flex-col justify-center items-center;
}

.flex-rows {
    @apply flex flex-row justify-center items-center;
}

.flex-btn {
    @apply flex justify-between items-center;
}

.transitions {
    @apply transition duration-300 ease-in;
}

.zIndex {
    z-index: 1000;
}